* {
    font-family: Microsoft JhengHei;
}

#browserCheck {
    height: 815px;
    background-color: rgb(238, 238, 238);
}

.row {
    margin: 0;
    height: 815px;
}

.pos {
    position: relative;
    top: 40%;
}

.font-pos {
    position: relative;
    left: 10%;
}
